.section-1 {
  position: relative;
  padding: 10% 0 5%;
  .section__description {
    > div {
      margin-bottom: 120px;
      @include respond-to(desktop_extra) {
        margin-bottom: 80px;
      }
      @include respond-to(desktop_minus) {
        margin-bottom: 50px;
      }
    }
  }
  .list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .item {
    margin-right: 80px;
    @include respond-to(desktop_minus) {
      margin-right: 50px;
    }
    @include respond-to(mobile) {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
      margin-right: 0;
      margin-bottom: 20px;
    }
    &:last-child {
      margin-right: 0;
    }
    .icon {
      font-size: 30px;
    }
    .icon-car {
      @include icon(sport-car);
      font-size: 40px;
      overflow: hidden;
      &::before {
        display: block;
        margin-bottom: -3px;
      }
    }
    .icon-walk {
      @include icon(walk);
    }
    p {
      margin-bottom: 0;
      &:first-child {
        @include font(20px, 30px, "Roboto-Regular");
      }
      &:nth-child(2) {
        margin-bottom: 10px;
        opacity: 0.7;
      }
    }
    span {
      @include font(50px, 77px, "Roboto-Regular");
      margin-right: 10px;
    }
  }
  &__image-1 {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-55%, -50%);
    height: 0;
    width: 28.9%;
    padding-bottom: 33.42%;
    z-index: -1;
    @include respond-to(mobile) {
      width: 55%;
      padding-bottom: 70%;
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
  &__cloud {
    position: absolute;
    top: 0;
    left: 25%;
    height: 0;
    width: 21.35%;
    padding-bottom: 9.89%;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
