.section-3 {
  position: relative;
  padding: 5% 0;
  .pane-item {
    > div {
      picture {
        position: relative;
        height: 0;
        width: 61.66%;
        margin: 0 auto;
        padding-bottom: 56.66%;
        transform: scaleX(0);
        transition: transform 0.3s 0.5s;
        img {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }
    &.show {
      > div {
        picture {
          transform: scaleX(1);
        }
      }
    }
    &__content {
      max-width: 400px;
      margin: 0 auto;
    }
  }
}
