.section-4 {
  &__inner {
    h2 {
      visibility: hidden;
      margin-bottom: 0;
    }
    picture {
      position: relative;
      height: 0;
      width: 100%;
      padding-bottom: 45.89%;
      @include respond-to(mobile) {
        padding-bottom: 65%;
      }
      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}
