*, *::before, *::after {
	box-sizing: border-box;
}

html {
	font-size: $base-font-size;
}

body {
	font-family: Verdana, sans-serif;
	font-size: 1.6rem;
}

img, svg {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}

i {
	display: inline-block;
}
