*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: $base-font-size;
  overflow-x: hidden;
}

body {
  @include font(16px, 24px, "Roboto-Regular");
  counter-reset: title;
  background-color: $color-background;
  color: $color-text;
  overflow: hidden;
}

img,
svg {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

i,
button {
  display: inline-block;
}

picture {
  display: block;
}

h1 {
  @include font(55px, 66px, "Roboto-Light");
}

h2 {
  @include font(40px, 60px, "Roboto-Regular");
}

h3 {
  @include font(30px, 40px, "Roboto-Regular");
}

h4 {
  @include font(30px, 46px, "Roboto-Thin");
}

p {
  @include font(16px, 26px, "Roboto-Thin");
  margin-bottom: 20px;
}

section {
  h2 {
    position: relative;
    counter-increment: title;
    margin-bottom: 40px;
    &::before {
      @include font(20px, 30px, "Roboto-Regular");
      content: "0" counter(title);
      position: absolute;
      bottom: 8px;
      left: -50px;
      opacity: 0.15;
    }
  }
}
.section {
  &__description {
    padding-left: 15%;
    & > div {
      &:first-of-type {
        max-width: 450px;
      }
    }
  }
}
