.btn {
  @include font(16px, 26px, "Roboto-Thin");
  min-width: 220px;
  padding: 11px;
  border: 1px solid currentColor;
  background-color: transparent;
  color: $color-text;
  transition: all 0.3s;
  cursor: pointer;
  &:hover {
    background-color: $color-white;
    color: $color-black;
  }
}
