.form {
  width: 100%;
  max-width: 470px;
  @include respond-to(desktop_minus) {
    max-width: 390px;
  }
  &.is-sending {
    button[type="submit"] {
      color: transparent;
      background: url("../img/load.gif") center no-repeat;
      background-size: 30px;
      border-color: $color-white;
    }
  }
  .input-group {
    margin-bottom: 20px;
  }
  .input-title {
    @include font(12px, 16px, "Roboto-Regular");
    padding-bottom: 5px;
    margin-bottom: 0;
  }
  .input {
    @include font(15px, 20px, "Roboto-Regular");
    width: 100%;
    padding: 10px 0;
    border: 0;
    color: $color-white;
    border-bottom: 1px solid $color-white;
    background-color: transparent;
    &::placeholder {
      transition: all 0.2s;
    }
    &:focus {
      &::placeholder {
        color: transparent;
      }
    }
  }
  &__submit {
    @include font(14px, 20px, "Roboto-Regular");
    margin-top: 40px;
    background-position: center;
    transition: all 0.2s;
  }
}
