.tab-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  overflow-x: auto;
  @include respond-to(mobile) {
    justify-content: flex-start;
    padding: 20px 0;
  }
}
.tab-item {
  @include font(12px, 16px, "Roboto-Regular");
  min-width: 150px;
  padding: 0 10px 18px;
  border-bottom: 1px solid $color-gray;
  text-align: center;
  transition: all 0.3s;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
  @include respond-to(mobile) {
    padding: 0 15px 15px;
  }
  @include respond-to(mobile_portrait) {
    min-width: auto;
  }
  &.is-active {
    border-bottom-color: $color-white;
    cursor: default;
  }
}
.pane-item {
  display: flex;
  justify-content: space-between;
  height: 0;
  width: 100%;
  transition: opacity 0.5s;
  overflow: hidden;
  opacity: 0;
  z-index: -1;
  @include respond-to(mobile) {
    flex-direction: column;
  }
  &.show {
    height: auto;
    opacity: 1;
    z-index: 0;
  }
  > div {
    width: 50%;
    @include respond-to(mobile) {
      width: 100%;
    }
  }
  &__content {
    max-width: 400px;
    margin: 0 auto;
    h3 {
      margin-bottom: 30px;
      @include respond-to(mobile) {
        margin-bottom: 20px;
      }
    }
  }
}
