.header {
  &__inner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1.84% $px 0;
    @include respond-to(mobile) {
      padding: 15px 15px 0;
    }
  }
  &__logo {
    position: relative;
    height: 0;
    width: 5.25%;
    padding-bottom: 4.03%;
    @include respond-to(mobile) {
      width: 70px;
      padding-bottom: 70px;
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
}
