// BREAKPOINTS
$mobile-portrait: 320px;
$mobile-landscape: 480px;
$tablet-portrait: 768px;
$tablet-landscape: 1280px;
$desktop-extra: 1330px;
$break-max: 1600px;
// FONT SIZE
$base_font_size: 10px;
// WIDTH
$site_width: 1920;
// COLOR
$color-primary: #FF9900;
$color-aditional: #FF7549;
$color-background: #FFF;
$color-heading: #000;
$color-text: #000;
$color-link: #1943EF;
$color-hovered: #BCD0E5;

$color-white: #FFF;
$color-black: #000;
