// BREAKPOINTS
$mobile-portrait: 320px;
$mobile-landscape: 480px;
$tablet-portrait: 768px;
$tablet-extra: 992px;
$tablet-landscape: 1280px;
$desktop-extra: 1330px;
$break-max: 1600px;
// FONT SIZE
$base_font_size: 10px;
// WIDTH
$site_width: 1200;
$px: 3.15%;
// COLOR
$color-text: #fff;
$color-text-secondary: #686868;

$color-background: #000;
$color-overlay: rgba(255, 255, 255, 0.1);

$color-white: #fff;
$color-black: #000;
$color-gray: #8c8c8c;
